.container {
    position: relative;
    background-image: url('/public/img/pexels-daniel-dan-7708811.jpg');
    height: 86vh;
    max-width: 100vw;
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    top: 150px;
    left: 300px;
    transform: translate(-40%, -50%);
    text-align: center;
    background: linear-gradient(to bottom, #fafbff, #8ef4b2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    font-weight: bold;
}


.but{
    position: absolute;
    top: 350px;
    left: 200px;
}

.start{
    padding: 5px;
    margin: 10px;
    border: 20px ;
    color: #4CAF50;
}

.invest{
    padding: 5px;
    margin: 10px;
    border: 20px ;
    color: #4CAF50;
}