.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.community-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: calc(50% - 30px);
    /* Adjust the width to show two cards in a row */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.community-card:hover {
    transform: scale(1.05);
}

h3 {
    color: #333;
}

p {
    color: #666;
}

.join-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.join-button:hover {
    background-color: #297fb8;
}